{% extends 'base.html' %}
{% load static %}
{% load markdown_extras %}
{% block title %}{{quiz_id.quiz_name}}{% endblock title %}

{% block body %}

<main class="container py-5">
    <div class="row">
        <div class="col-lg-8" data-bs-theme="dark" >
            <div id="app" class="m-2">
                {% comment %} <h2 dir='ltr'> Тесе</h2>
                <hr>  {% endcomment %}
                
                <div v-for="question in questions"> 
                    
                    <h2 class="text-center font-weight-bold "> [[question.question]]</h2>
                    <div class="form-check m-3" v-for="answer in question.answers">
                        <input @change="checkAnswer($event , question.id)" :value="answer.answer" class="form-check-input" type="radio" :name="question.question" id="flexRadioDefault1">
                        <label class="h5 " for="flexRadioDefault1">
                            [[answer.answer]]
                        </label>
                    </div>
                    <hr>        
                </div>
                <div>
                    <button class="btn btn-outline-success p-2 m-3" onClick="app.showscore();">Показать результат</button>
                    <button class="btn btn-outline-warning p-2 m-3" onClick="window.location.reload();">Обновить</button>
                    <p id="mytest"></p>
                </div>

                
            </div>
        </div> 

        <!--START SideBAR-->
        <div class="col-lg-4" data-bs-theme="dark">
            <!-- Categories widget-->
            <div class="mb-4 card  bg-body-tertiary">
                <div class="row">
                    
                </div>
            </div>
            <!--end Categories widget-->
        
            <!-- Side widget-->
            <div class="card bg-body-tertiary mb-4 ">
                <div class="card-header">перевод</div>
                <div class="card-body ">
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Арабский</th>
                                <th scope="col">руский</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for word in words %}
                            <tr>
                                <th scope="row">{{word.id}}</th>
                                <td>{{word.word_AR}}</td> 
                                <td>{{word.word_RU}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> 
        </div>
        <!-- END SideBAR-->
    </div>
</main>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script>
        var score = 0;
        var app = new Vue({
            el : '#app',
            delimiters: ['[[',']]'],
            data(){
                return{
                    quiz_id : '{{quiz_id.id}}',
                    questions : [],
                }
            }, 
            methods : {
                getQuestions(){
                    fetch(`api/get-quiz/${this.quiz_id}`)
                    .then(response => response.json())
                    .then( result =>{
                        this.questions = result.data
                    })
                },
                checkAnswer(event , id){
                    this.questions.map(question =>{
                        answers = question.answers
                        for(var i=0; i < answers.length; i++){
                            if(answers[i].answer == event.target.value){
                                if(answers[i].is_correct){
                                    score +=1
                                }
                            }
                        }
                    })
                },
                showscore(){
                    Swal.fire({
                        title: ' Правелных ответов  ' + score + '/' + {{ questions|length }} ,
                        showClass: {
                            popup: 'animate__animated animate__fadeInDown'
                        },
                        hideClass: {
                            popup: 'animate__animated animate__fadeOutUp'
                        }
                    })

                }
            },
            created(){
                this.getQuestions()
            }
        });
    </script> 
    
{% endblock body %}




