{% extends 'base.html' %}
{% load static %}
{% load markdown_extras %}


{% block body %}

<main class="container py-5">
    <div class="row">

        <div class="col-lg-7" data-bs-theme="dark" >
    
            {% for quize in quizes %}
    
            <div class="card text-center mb-5">
                <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item d-flex">
                    <a class="nav-link active" href="#">{{quize.id}}</a>
                    {% comment %} <a class="nav-link disabled" href="#">{{quize.leavel}}</a> {% endcomment %}
                    </li>
                </ul>
                </div>
    
                <div class="card-body">
                <h5 class="card-title"> {{quize.quiz_name}}</h5>
                {% comment %} <p class="card-text"> {{lesson.description |slice:20  | markdown |safe}}</p> {% endcomment %}
                <a href="{% url 'detail_quiz' quize.id %}" class="btn btn-success">ابدء الاختبار</a>
                </div>
    
            </div>
    
            {% endfor %}
        </div>
    
        <!--START SideBAR-->
        {% include 'saibar.html' %}
        <!-- END SideBAR-->


{% endblock body %}