{% extends 'base.html' %}
{% load static %}
{% load markdown_extras %}


{% block body %}

<main class="container py-5">
    <div class="row">

        <div class="col-lg-9" data-bs-theme="dark" >
            {% for story in stories %}
                <div class="card text-center mb-5">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item d-flex">
                        <a class="nav-link active" href="#">{{story.id}}</a>
                    </li>
                    </ul>
                </div>
        
                <div class="card-body">
                    <h5 class="card-title"> {{story.title}}</h5>
                    {% comment %} <p class="card-text"> {{lesson.description |slice:20  | markdown |safe}}</p>{% endcomment %}
                    <a href="{% url 'show_story' story.id %}" class="btn btn-success">ابدء الدرس</a> 
                </div>
        
                </div> 
            {% endfor %}
        </div>


        <!--START SideBAR-->
        <div class="col-lg-3" data-bs-theme="dark">
        <!-- Categories widget-->
        <div class="mb-4 card  bg-body-tertiary">
            <div class="row">
                
                <div class="accordion" id="accordionExample" >

                    {% for question in questions|slice:":5"  %}
                        <div class="accordion-item" >
                            <h2 class="accordion-header" id="heading{{question.id}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{question.id}}" aria-expanded="true" aria-controls="collapse{{question.id}}">
                                {{question.question}}
                            </button>
                            </h2>
                            <div dir="ltr" id="collapse{{question.id}}" class="accordion-collapse collapse" aria-labelledby="heading{{question.id}}" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    {{question.answer | markdown | safe }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            
            </div>
        </div>
        <!--end Categories widget-->
        <!-- Side widget-->
        <div class="card bg-body-tertiary mb-4 ">
            <div class="card-header">Side Widget</div>
            <div class="card-body ">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
        </div> 
        </div>

    <!-- END SideBAR-->


    </div>
</main>

{% endblock body %}






